:root{
    --main-color:#2C3E50;
    --secondry-color:rgb(36, 192, 192);
}
*{
    box-sizing: border-box;
    /*
    make elemnts no be out side page 
    margin not affect my page
    */
    font-family: Cairo;
    border: 0px;
    margin: 0px;
}

header{
    /*
    jusftify-cintent not work without display flex
    */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0px 10px; */
    background-color:var(--main-color) ;
    color: white;
    border-top: 4px solid crimson;
    position: fixed;
    width: 100%;
}
header a{
    text-decoration: none;
    color: white;
    padding: 5px;
    
}
header a:hover{
    color: red;
    font-size: 18px;
    transition:ease .5;
    -webkit-transition:ease .5;
    -moz-transition:ease .5;
    -ms-transition:ease .5;
    -o-transition:ease .5;
}
.cursor{
    background-image: url(/images/loma.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
    background-blend-mode:overlay ;
    background-color: rgb(0, 0, 0,.4);
    color: white;
}
.cursor div{
    padding: 50px;
    
}
.cursor div h2{
    color: black;
}
.cursor div span{
    color: red;
    font-size: 35px;
    font-weight: bold;
}
.cursor div a{
    background-color: var(--secondry-color);
    display:inline-block ;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin:  20px 0px;
    transition: ease 1.2;
    -webkit-transition: ease 1.2;
    -moz-transition: ease 1.2;
    -ms-transition: ease 1.2;
    -o-transition: ease 1.2;
}
.cursor div a:hover{
    transform: scale(1.1);
    background-color: var(--main-color);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.services{
    padding: 50px 100px;
    text-align: center;
    
}
.services .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 80px;
}
.services .card{
    box-shadow: 3px 3px 6px 6px #ccc;
    width: 300px;
    line-height: 1.8;
    text-align: center;
    padding: 5px 10px;
    margin: 10px ;

}
.portofolio{
    background-color: var(--main-color);
    padding: 50px 100px;
    text-align: center;
}
.portofolio .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 80px;
}
.portofolio .card{
    border: 2px solid black;
    border-radius: 20px;
    line-height: 1.8;
    background-color: white;
    width: 300px;
    text-align: center;
    /* padding: 5px 10px; */
    margin: 10px ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* display: contents; */
    /* padding-top: 20px; */
}
.portofolio .card button{
    background-color: var(--secondry-color);
    color: white;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* margin-left: 70%; */
}
.portofolio .card img{
    width: 100%;
    border-radius: 17px 17px 0px 0px;
    -webkit-border-radius: 17px 17px 0px 0px;
    -moz-border-radius: 17px 17px 0px 0px;
    -ms-border-radius: 17px 17px 0px 0px;
    -o-border-radius: 17px 17px 0px 0px;
}
.courses{
    padding: 50px 50px ;
    text-align: center; 
}
.courses .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 80px;
}
.courses img{
    width: 60%;
    /* margin-right: 20px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0,.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.courses .text{
    text-align: center;
    justify-content: center;
    width: 40%;
    padding-left: 20px;
    padding-top: 10%;
}
.courses h2{
    color: crimson;
}
.courses p{
    line-height: 1.8;
    text-align: center;
}
.courses .text-rtl{
    text-align: center;
    justify-content: center;
    width: 40%;
    padding-right: 20px;
    padding-top: 10%;
}
.team{
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    justify-content: center; 
    background-blend-mode:overlay ;
    background-color: rgb(0, 0, 0,.4);
    height: 200hv;
    background-image: url(https://images.unsplash.com/photo-1500989145603-8e7ef71d639e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3R1ZHlpbmd8ZW58MHx8MHx8&w=1000&q=80);
}

.team img{
    /* position: fixed; */
    background-attachment: fixed;
    margin: 50px 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0,.4);
    
}
  
  .footer {
    background-color: var(--main-color);
    height: 46px;
    text-align: center;
    padding: 19px;
    color: white;
  }
  .footer span {
    color: var(--secondry-color);
    padding: 5px;
    font-size: medium;
    font-weight: 600;
  }